

body{
   
padding:
0;
   
margin:
0;
   
box-sizing:
border-box;
   
display:
flex;
   
align-items:
center;
   
justify-content:
center;
   
height:
100vh;
   
background-image:
url(todo.jpg);
   
background-repeat:
no-repeat;
   
background-size:
cover;
 


}




.box{
   
position:
relative;
   
width:
400px;
   
height:
630px;
   
background-color:
rgb(10,
99,
99,0.5);
   
border-radius:
10px ;
   
padding:
25px
40px;
   
display:
flex;
   
align-items:
center;
   
flex-direction:
column;
}
h1{
   
color:
azure;
   
width:
100%;
   
text-align:
center;
   
}
#inputBox{
   
position:
relative;
   
width:
95%;
   
border:
none;
   
outline:
none;
   
border-radius:
25px ;
   
height:
40px;
   
color:
rgb(85,
14,
152);
   
font-size:
16px;
   
color:
rgb(193,
25,
154);
   
padding-left:
13px;
}




















#inputBox::placeholder{
   
font-size:16px;
   
color:
rgb(138,
179,
27);
}
.box
li
{
   
margin-left:
-35px;
   
position:
relative;
   
margin-top:
15px;
   
display:
flex;
   
min-height:
20px;
   
align-items:
center;
   
justify-content:
space-between;
   
width:
290px;
   
background-color:
rgb(232,
117,
17);
   
list-style:
none;
   
padding:
10px
10px
10px
45px;
   
border-radius:
20px;
   
color:black;
   
font-size:
18px;
   
cursor:
pointer;


}
.box
li
i{
   
position:
absolute;
   
height:
30px;
   
width:
30px;
   
background-color:
red;
   
right:
-40px;
   
border-radius:
50%;
   
display:
flex;
   
align-items:
center;
   
justify-content:
center;
 
}
.box
li
i::before{
   
content:
"";
   
position:
absolute;
   
width:
20px;
   
height:
3px;
   
background-color:
azure;
   
transform:
rotate(45deg)
 ;
}
.box
li
i::after{
   
content:
"";
   
position:
absolute;
   
width:
20px;
   
height:
3px;
   
background-color:
azure;
   
transform:
rotate(135deg)
 ;
}
.box
li.done{
   
background-color:
rgb(134,
246,
134);
   
text-decoration:
line-through
red
2px;
}


.box
li.done::before
{
position:
absolute;
content:
'';
height:
30px;
width:
30px;
background-color:
rgb(17,
26,
4);
border-radius:
50%;
left:
7px;


}
.box
li.done::after{
   
position:
absolute;
   
left:
12px;
   
top:
13px;
   
content:
'';
   
height:8px;
   
width:
16px;
   
border-bottom:
3px
solid
azure;
   
border-left:
3px
solid
azure;
   
transform:
rotate(-45deg);
}
#list{
   
position:
relative;
   
height:
450px;
   
overflow-y:
auto;
   
width:
370px;
   
padding-left: px;
}
::-webkit-scrollbar-track{
   
box-shadow:
inset
0
0
15px
rgba(0,
0,
0,
0.5);
}
::-webkit-scrollbar{
   
width:
6px;
}
::-webkit-scrollbar-thumb{
   
background-color:
rgb(248,
250,
248);
}
#btn{
   
width:
110px;
   
height:
35px;
   
align-items:
center;
   
border-radius:
10px;
   
outline:
none;
   
background-color:red;
   
color:
azure;
   
letter-spacing:
2px;
   
size:
18px;
   
cursor:
pointer;


}
.inputbar{
   
display:
flex;
   
align-items:
center;
   
width:
100%;
   
}